<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.my.matahati.absensi">

    <!-- Permission kamera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:ignore="UnusedAttribute" />

    <!-- Nyatakan kamera opsional -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name="id.my.matahati.absensi.MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="false">

        <!-- Launcher utama -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Scan -->
        <activity
            android:name=".HalamanScan"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

        <!-- Login Activity-->
        <activity
            android:name=".HalamanLogin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

        <!-- Ubah Password-->
        <activity
            android:name=".UbahPassword"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

        <!-- Halaman Jadwal-->
        <activity
            android:name=".HalamanJadwal"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

        <!-- Halaman Izin-->
        <activity
            android:name=".HalamanIzin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

        <!-- Halaman Absen Manual-->
        <activity
            android:name=".HalamanManual"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

    </application>
</manifest>
